{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>ホーム</title>
	<link rel="stylesheet" type="text/css" href="/redesign/static/css/index.css">
	<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	 <script src="/redesign/static/js/index.js"></script>
</head>
<body>
	<div class="wrapper">

	  
	  <div class="title">
	    <div class="title_head">
	      <h1>Kanki</h1>
	      <div class="now">
		<h4>現在 {{ login_user_num }}人がログインしています </h4>
		</div>
	      <div class="new">
		<a href="{% url 'new' %}">新規登録</a>
	      </div>
	    </div>
	    
	<div class="form_wrapper">
	   <div class="detail">
	    <p>部屋の空気を可視化するサービス</p>
	    <p>	あなたに綺麗な”空気”を<br>あなたに”息抜き”を</p>
	  </div>

	  <div class="login">
	    
	     <form action="{% url 'registration' %}" method="post" class="form-horizontal" role="form">
            {% csrf_token %}
            <div class="login-form">    
              <div class="form-group">
                <input type="text" placeholder="名前を入力" class="form-control"　id="User" name="User" value="" />
                <input type="password" placeholder="Password" class="form-control"　id="User" name="Pass" value="" />
              </div>

              <input type="submit" value="Login" class="btn btn-danger navbar-btn">
            </div>
            
           </form>
	  </div>
	  
	 
	</div>
	  </div>
	  
	</div>
</body>
</html>
