{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>新規登録</title>
	<link rel="stylesheet" type="text/css" href='/redesign/static/css/new.css'>
	<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="/redesign/static/js/new.js"></script>
</head>
<body>
	<div class="wrapper">
	
	  	<div class="header">
			<a href="{% url 'home' %}"><h1>Kanki</h1></a>
		</div>
		<div class="form">

			<h1>Kankiをはじめよう</h1>
			<p>(新規登録)</p>
			<p>
			  <span class="error er1">必須項目が入力されていません</span>
			</p>
			<p>
			  <span class="error er2">既に使われている名前です</span>
			</p>
			<form action="{% url 'new' %}" method="post" class="form-horizontal" role="form">
			  {% csrf_token %}
			  <div class="login-form">    
			    <div class="form-group">
			      <input type="text" placeholder="名前を入力" class="form-control1"　id="User" name="User" value="" />
			      <input type="password" placeholder="ぱすわーど" class="form-control2"　id="User" name="Pass" value="" />
			    </div>

			    <input type="submit" value="新規登録" class="btn btn-danger navbar-btn">
			  </div>
                
			</form>
	
		</div>
	
	</div>
</body>
</html>
