<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>test</title>
  </head>
  <body>
    <div class="wrapper">
      <h1>Today:{{ date.year }}/{{ date.month }}/{{ date.day }}</h1>
      <h2>Now,Mxd Lab's Information</h2>
      <ul>
	<li>Temperture-----{{ data.kion }}</li>
	<li>Humidity-------{{ data.shitsudo }}</li>
	<li>Pressure-------{{ data.kiatsu }}</li>
      </ul>
    </div>
  </body>
</html>
