{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>ログインに失敗</title>
	<link rel="stylesheet" type="text/css" href="/redesign/static/css/new.css">
</head>
<body>
	<div class="wrapper">
	  	
	  	<div class="header">
			<a href="{% url 'home' %}"><h1>Kanki</h1></a>
		</div>
		<div class="form">

			<h1>ログインに失敗・・・</h1>
			<form action="{% url 'registration' %}" method="post" class="form-horizontal" role="form">
			  {% csrf_token %}
			  <div class="login-form">    
			    <div class="form-group">
			      <input type="text" placeholder="名前を入力" class="form-control"　id="User" name="User" value="" />
			      <input type="password" placeholder="パスワード" class="form-control"　id="User" name="Pass" value="" />
			    </div>

			    <input type="submit" value="ログイン" class="btn btn-danger navbar-btn">
			  </div>
                
			</form>
			
		</div>
		<a href="{% url 'new' %}" class="renew">新規登録はこちら</a>
	
	</div>


</body>
</html>
