<!DOCTYPE html>
<html>
<head>
	<meta charset='UTF-8'>
	<title>ユーザーページ</title>
	<link rel="stylesheet" type="text/css" href="/redesign/static/css/user.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css">
	<script type="text/javascript" src="/redesign/static/js/user.js"></script>	
	<script type="text/javascript" src="/redesign/static/js/poptest.js"></script>
	<script src="/redesign/static/js/chart.js"></script>
</head>
<body>
  	<div class="wrapper">
		<div class="list">
			<div class="list_factor">
				<div class="your_name">
					<p>{{ userdata.nickname }}
					<span class="state_green"></span>
					</p>
				</div>
				<ul class="login">
				  {% for other in login_user %}
				  {% if other.id != userdata.id %}
				  <li class="green">
				    {{ other.nickname }}
				    <span class="other_state_green"></span>
				  </li>
				  {% endif %}
				  {% endfor %}
				  </ul>
				<ul class="logout">
				  {% for other in logout_user %}
				  {% if other.id != userdata.id %}
				  <li>
				    {{ other.nickname }}
				    <span class="other_state_red"></span>
				  </li>
				  {% endif %}
				  {% endfor %}
				  
				</ul>	

			<div class="exit">
				<a href="/redesign/humidity/exit?id={{ userdata.id }}">ログアウト</a>
			</div>
			</div>
			
		</div>
		<div class="main_wrapper">
			<div class="temp_wrapper">
				<div class="temperature env">
					<p>気温:{{ data.kion }}℃</p>
				</div>
				
				<svg id="temp"></svg>

			</div>
			<div class="temp_wrapper">
				<div class="humidity env">
					<p>湿度:{{ data.shitsudo  }}%</p>
				</div>
					<svg id="humi"></svg>
			</div>
			
			<div class="temp_wrapper">
				<div class="pressure env">
					<p>気圧:{{ data.kiatsu }}hPa</p>
				</div>
					<svg id="pres"></svg>
			</div>
			
			<div class="submit">
				<a href="">終了する</a>
			</div>
			
		</div>
	</div>
  <p class="myid"></p>

</body>
</html>
