@font-face{
    font-familiy:"myfont";
    src:url("../rogo.otf");
}
body,html{
	margin: 0;
	padding: 0;
	background: url('../img/image2.PNG');
	background-repeat: no-repeat;
	background-size:cover;
}
.wrapper{
	margin: 0 auto;
	text-align: center;
	width: 100%;
	min-height:100%;

	overflow:hidden;
}
.form_wrapper{
    margin: 0 auto;
    margin-top:20px;
    text-align:center;
    width:100%;
}
.title{
    	color: white;
	overflow:hidden;
	font-size: 200%;
	margin:0;
	width:100%;
}
.title p{
    margin-top:30px;
    font-size:50%;
}
.title_head{
    margin:0;
    padding:5%;
    overflow:hidden;
}
.detail{
    display:inline-block;
    margin:0 auto;
    bottom:0;

    	background:rgba(255,192,32,0.5);
    min-width:320px;
    width:40%;
    font-size:30px;
    border-radius:7px;
    padding:2% 0%;
    vertical-align:top;
}
a{
	text-decoration: none;
	display:block;
	cursor:pointer;

	background: red;
	color: white;
}
a:hover{
	background: white;
	color: red;
}
.new{
    margin: 0 auto;
    margin-top:10px;
    width:10%;
    min-width:200px;
    border-radius:10px;
    text-align:center;
    font-size:50%;
    background:rgba(255,255,255,0.7);
}
.login{

    vertical-align:top;

    padding:2.3%;
    display: inline-block;
    margin: 0 auto;
    width:35%;
    min-width:250px;
    border-radius:10px;
    text-align:center;
    font-size:50%;
    background:rgba(255,255,255,0.7);
}
.new a{
    border-radius:10px;
    padding:10% 25%;
}
input[type="text"],input[type="password"]{
    outline:none;
    display:block;
    width:80%;
    border-radius:7px;
    height:30px;
    font-size:70%;
    border:1px solid #aaa;
    -webkit-transition: all .3s;
    transition:all .3s;
    margin:0 auto;
    margin-top:7px;
}
input[type="submit"]{
    padding:15px 40px;
    fontsize:15px;
    background:#444;
    color:white;
    border:0px;
    border-style:none;
    cursor:pointer;

    -webkit-appearance:none;
    margin-top:10px;

}

input[type="text"]:focus,input[type="password"]:focus{
    box-shadow:0 0 7px; #1abc9c;
    border:1px solid #1abc9c;

}
