
body{
	margin: 0;
	padding: 0;

	background: url('../img/qqimage.jpg');
	background-repeat: no-repeat;
	background-size:cover;
}

.wrapper{
	margin: 0 auto;
	text-align: center;
	width: 100%;
	min-height:100%;

}
.form h1{
	color: #444;
}

.header{
	background:rgba(255,192,32,0.5);
	height: 90px;
	width: 100%;
	overflow: hidden;
	margin: 0;
}
a{
	width: 15%;
	text-decoration:rgba(255,79,51,1); 
	color:white;
	text-decoration: none;
	font-size: 120%;
	-webkit-transition:all .3s;
	transition:all .3s;
}
p{
    position:relative;
}
.error{
    display:none;
    posision:absolute;
    top:-3.5em;
    font-size:75%;
    left:0;
    padding:.5em 1em .4em;
    background-color:#f66;
    border:1px solid #f00;
    border-radius:5px;
    color:#fff;
}
.error:after,.error:before{
    content:'';
    position:absolute;
    top:100%;
    left:50%;
    border:solid transparent;
}
.error:after{
    margin-left:1px;
    border-top-color:#f66;
    border-width:7px;
}
.error:before{
    border-top-color:#f00
    border-width:8px;
}

.form{
	margin: 0 auto;
	margin-top: 70px;
	min-width:280px;
	width: 40%;
	padding: 5%;
	min-height: 350px;
	border-radius: 7px;
	background:rgba(255,255,255,0.6);
}
input[type="text"],input[type="password"]{
	width: 50%;
	margin-bottom: 30px;
	min-height:40px;
	font-size: 100%; 
	outline: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:2px solid #ccc;
	-webkit-transition:all .3s;
	transition:all .3s;
}
input:focus {
    border:solid 2px #EEA34A;
}
input[type="submit"]{
	display: block;
	border: 0px;
	width: 45%;
	margin: 0 auto;
	padding: 3% 7%;
	border-radius: 5px;
	font-size: 100%;
	-webkit-appearance:none;
	-webkit-transition:all .3s;
	transition:all .3s;

	background:rgba(255,192,32,1);
	color: white;
	cursor: pointer;
}
input[type="submit"]:hover{
	background:rgba(255,79,51,1);
}
.renew{
    background:red;
    color:white;
    padding:2%;
    border-radius:6px;
}
.renew:hover{
    background:white;
    color:red;
}
