
body{
	margin: 0;
	padding: 0;
	background: url("../img/qqimage1.jpg");
	background-repeat: no-repeat;
	background-size:cover;
}
.myid{
    display:none;
}
svg{
    background:rgba(255,255,255,0.9);
    padding:3%;
}
.header{
	background:rgba(255,64,64,0.7);
	height: 30px;
	padding: 1% 0%;
	width: 100%;
	margin: 0;
	color: white;
	text-align: left;

}
p{
	
	position: relative;
}
a{
	text-decoration: none;
}
.submit{

	min-height: 40px;
	min-width: 30px;
	width: 15%;
	margin-top:  5%;
	margin-left: 10%;
	border-radius: 7px;
	color: white;
	font-size: 60%;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}
.submit a{
	background-color: #FFC107;
	color: white;
	padding: 15%;
	font-size: 150%;
	border-radius: 7px;
	display: block;
	-webkit-transition:all .2s;
	transition:all .2s;
}
.submit a:hover{

	background:rgba(255,64,64,1);
}
.exit a{
	
	background:rgba(255,255,255,0.6);
	color: #444;
	border-radius: 4px;
	padding: 10%;
	-webkit-transition:all .1s;
	transition:all .1s;
}
.exit a:hover{

	background:rgba(255,64,64,1);
	color: white;
}
.exit{	
	width: 10%;
	min-width:200px;
	position:absolute;
    bottom:0;
    margin-bottom: 50px;
}
.state_green{
	float: right;
	margin-top: 3px;
	left: 0;
	height: 1px;
	padding: 3%;
	background-color: #6EFF14;
	border-radius: 50px;
	color: #fff;
}
.other_state_green{

	float: right;
	margin-top: 3px;
	left: 0;
	padding: 2%;
	display: block;
	margin-right: 60px;
	background-color: #6EFF14;
	border-radius: 50px;
	color: #fff;
}

.other_state_red{

	float: right;
	margin-top: 3px;
	left: 0;
	padding: 2%;
	display: block;
	margin-right: 60px;
	background-color: red;
	border-radius: 50px;
	color: #fff;
}
.list{
	float: left;
	background:rgba(68,68,68,0.7);
	min-width: 300px;
	height: 100%;
	color: white;
}
li{
	list-style: none;
	margin-top: 20px;
	margin-left: -150px;
	font-size: 80%;
}
.wrapper{
	margin: 0 auto;
	text-align: center;
	width: 100%;

}
.your_name{
	color: white;
	font-size: 120%;
	padding: 5%;
}
.main_wrapper{
	text-align: left;
	width: 100%;
}
.temp_wrapper{
	width: 40%;

	display: inline-block;
}
.env{
	min-height: 30px;
	min-width: 30px;
	width: 40%;
	margin-top: 2%;
	border-radius: 7px;
	color: white;
	font-size: 70%;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}
.temperature{
	background:rgba(0,161,255,1);
}
.humidity{
	background:rgba(255,0,94,1);
}
.env p{
	position: relative;
	top:25%;
	left: 10%;
}
.pressure{
	background:rgba(65,230,70,1);

}

img{
	vertical-align: top;
	width: 100%;
}